*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;position:relative;
}
/* ########### utility class ###### */
.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
.btn{
    display: inline-block;
    padding: 1em 2.5em;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    outline:none;
    text-transform: capitalize;
    font-weight: 500;
    margin-top: 1em;
}
.btn-primary{
    background-color: red;
    color: white;
}
/* ############# navbar styling for desktop############## */
.navbar input[type="checkbox"],
.navbar .food-lines{
display: none;
}

.navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background-color: #fff;
    color: black;
    opacity: 0.85;
    z-index: 999;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;

}
.menu-items{
    display: flex;
}
.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.8rem;
    }

.logo{
    font: normal 4rem 'Cookie', cursive;
    color: deeppink;
}
.navbar a{
    color: #444;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
    text-transform: capitalize;
}
.navbar a:hover{
    color: red;
}

.showcase-area{
height: 60vh;
background-image: url(./images/showcase-image.jpeg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
.showcase-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.6rem;
}
.showcase-container h1{
    color: red;
}
.showcase-container p{
  margin: 1rem 0;
}

/* ################## food menu style #################### */
.menu-heading{
    font-size: 4rem;
    text-align: center;
    font-weight: 500;
    color: red;
    text-transform: capitalize;
}


.food-menu-container{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px 30px 0px;
    margin-bottom: 5rem;

}
.food-menu-container img{
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50px;
    object-fit: cover;
    object-position: center;
}
.food-menu-item{
    display: flex;
    flex:1 1 auto ;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.food-text{
    margin: auto 1.5rem;
} 

.food-title, .food-text .price{
    font-size: 2.2rem;
    font-weight: 400;
    color: red;
}
.food-text p{
    font-size: 1.5rem;
    padding: 0.5rem;
    color:#555;

}

/* about */
#about {
  padding: 50px 0;
  background: f5f5f7;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
}

.image-area{
  flex: 1 1 400px;
  padding: 30px;
  transform: translateX(-150px);
  animation: about-image 1s ease-in-out forwards;
}
@keyframes about-image{
  100%{
    transform: translate(0);
  }
}
.image-area img {
  display: block;
  width: 400px;
  max-width: 100%;
  margin: auto;
  object-fit: cover;
  object-position: center;
}

.content-area {
  flex: 1 1 400px;
  padding: 30px;
  text-align: left;
  margin: auto 0;
  transform: translateX(150px);
  animation: about-text 1s ease-in-out forwards;
}

@keyframes about-text {
  100% {
    transform: translate(0);
  }
}
#about h2 {
  color: red;
  font-size: 30px;
  margin-bottom: 20px;
}

#about p {
  color: #666;
  font-size: 16px;
  margin-bottom: 15px;
}


/* testimonials styling */

#testimonials{
  padding: 5rem 0px;
  background: rgb(243, 243, 243);
}
.testimonials-title{
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  color: red;
}
.testimonials-container{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
 font-size: 1.6rem; 
}

.testimonials-container .checked{
  color: darkorange;
}
.testimonials-container .text{
  margin: 1rem;
  color: #444;
}
.testimonials-box{
  text-align: center;
  padding: 1rem;
}
.testimonials-container .photo img{
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin:1rem auto;
}



/* contact form style */
#contact{
  padding: 5rem 0;
  background: rgb(226, 226, 226);
}
.contact-container{
  display: flex;
  background-color: white;
}
.contact-image{
  width: 50%;
  
}
.contact-image img{
  display: block;
  height: auto;
  object-fit: cover;
  object-position:center;
  width: 100%;
  background-size: cover;
}
.form-container{
  padding: 1rem;
  width: 50%;
  margin: auto;
}
.form-container input{
  display: block;
  width: 100%;
  border: none;
  border-bottom:2px solid #ddd;
  padding: 1rem 0;
  box-shadow: none;
  outline: none;
  color: #444;
  font-weight: 500;
}
.form-container textarea{
  display: block;
  width: 100%;
  border: none;
  border-bottom:2px solid #ddd; 
  padding: 1rem 0;
}
.form-container h2{
  font-size: 3rem;
  font-weight: 400;
  color: #444;
  margin-bottom: 1rem;
}
.form-container a{
  font-size: 1.2rem;
}

/* The footer is fixed to the bottom of the page */
/* footer{
  position: fixed;
  bottom: 0;
} */

@media (max-height:800px){
  footer { position: static; }
  /* header { padding-top:40px; } */
}


.footer-distributed{
  background-color: #2c292f;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
  /* height: 318px; */
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */
.footer-distributed .footer-left{
  width: 30%;
}

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img{
  border-radius: 50%;
  width: 30%;
  /* opacity: 0.1; */
}

.footer-distributed h3 span{
  color:  #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}


.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  #e0ac1c;
  text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
  width: 30%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* Here is the code for Responsive Footer
You can remove below code if you don't want Footer to be responsive */
@media (max-width: 880px) {

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }
/* ################## media queries ########## */
@media (max-width:768px)
{
    .navbar{
        opacity: 0.9;
    }
    .nav-container input[type="checkbox"],
    .nav-container, .food-lines{
        display: block;
    }
    .nav-container{
        display: block;
        position: relative;
        height: 64px;

    }

    .nav-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 40px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;

    }
    .nav-container .food-lines{
        display: block;
        height: 32px;
        width: 40px;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
  
  .footer-distributed {
    height: auto;
    }
  
  .itsm:hover{
    color: black;
    background-color: lightgreen;
    box-shadow: 2px 4px 8pc grey; 
  }

    .nav-container .food-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background-color: #333;
    }
    .nav-container .food-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }
    .nav-container .food-lines .line2{
        transition: transform 0.4s ease-in-out;
    }.nav-container .food-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }
    .navbar .menu-items{
        padding-top: 100px;
        background-color: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translatex(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        box-shadow: 5px 0px 10px 0px;
    }
    .navbar .menu-items li{
        margin-bottom: 3rem;
        font-size: 2rem;
        font-weight: 500;
    }
    .logo{
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 3rem;

    }
    .nav-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translatex(0);
        }
    .nav-container input[type="checkbox"]:checked ~ .food-lines .line1{
    transform: rotate(45deg);
    }
    .nav-container input[type="checkbox"]:checked ~ .food-lines .line2{
        transform: scaley(0);
        }
    .nav-container input[type="checkbox"]:checked ~ .food-lines .line3{
            transform: rotat(-45deg);
        }
}
        /* ################### 500px ############ */
        @media (max-width:500px) {
            
        html{
            font-size: 50%;
        }
        .food-menu-item{
            flex-direction: column;
            text-align: center;

        }
        .food-menu-container img{
            margin: auto;
  
        }
        .testimonials-container{
          flex-direction: column;
          text-align: center;
        }
      .contact-container{
        display: flex;
        flex-direction: column;
        
      }
       .contact-image{
        width: 90%;
        margin: 3rem auto;
      }
      
    }
}
    @media(orientation: landscape) and (max-height:500px){
  .showcase-area{
    height: 50vmax;
  }
}
